<html>
    <head>
        <link type='text/css' rel='stylesheet' href="/new.css">
    </head>

    <body>
        <h2>Add animal </h2>
        <form action='/mongooses' method='post'>
            Name:<input type='text' name='name'><br><br>
            Info:<input type='text' name='info'><br><br>
            <input type='submit' value='Add'>
        </form>

        <a href='/'><button>Go back</button></a>

    </body>
</html>

